In [1]:
a=1000
print(a, type(a))
a=12.34
print(a, type(a))
a=1+2j
print(a, type(a))
a=True
print(a, type(a))
a=[1,2,3,4]
print(a, type(a))
a=(1,2,3,4)
print(a, type(a))
a={1,2,3,4}
print(a, type(a))
a={"name":"anil","age":23}
print(a, type(a))
a="python"
print(a, type(a))
a=None
print(a, type(a))

1000 <class 'int'>
12.34 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{'name': 'anil', 'age': 23} <class 'dict'>
python <class 'str'>
None <class 'NoneType'>

In [2]:
a=1000
b=2000
c=a
d=1000
s="python"
s1=s
k="apple"
l=[1000,2000,a,b]

In [3]:
l=[1000,2000]
print(l)

[1000, 2000]

In [5]:
a=1000
b=2000
l=[a,b]
print(l)

[1000, 2000]

In [6]:
s="python"

In [7]:
type(s)

str

In [8]:
s[0]

'p'

In [9]:
type(s[0])

str

In [10]:
a=1000
c=a
print(a,c)
a=5000
print(a,c)

1000 1000
5000 1000

In [11]:
a=1000
b=2000
l=[a,b]
print(l)
a=5000
b=6000
print(l)

[1000, 2000]
[1000, 2000]

In [1]:
a=1000
a=2000
c=a
print(c)

2000

In [2]:
1+2j+3+4j

(4+6j)

In [3]:
"str1"+"str2"

'str1str2'

In [4]:
10+20

30

In [5]:
10+"str1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
2*"str1"

'str1str1'

In [7]:
"*"*20

'********************'

In [8]:
"pytohn"*20

'pytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohnpytohn'

In [9]:
# arthmatic: +,-,*,/,//,**,%
#boolean operations: >,<,>=,<=,==,!=, is , in, not

In [10]:
a=10
b=20
print(a+b)

30

In [11]:
print(a-b)

-10

In [12]:
print(a*b)

200

In [13]:
print(a>b)

False

In [14]:
a=12.34
b=34.56

In [15]:
cost_price=2000
sales_price=3000
print(sales_price-cost_price)

1000

In [16]:
cost_price=input("Enter cost price")
sales_price=input("enter sales price")
print(sales_price-cost_price)

Enter cost price4000
enter sales price3000

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [17]:
cost_price=input("Enter cost price")
print(cost_price, type(cost_price))

Enter cost price234
234 <class 'str'>

In [18]:
cost_price="234"
print(cost_price, type(cost_price))

234 <class 'str'>

In [19]:
cost_price=234
print(cost_price, type(cost_price))

234 <class 'int'>

In [20]:
cost_price=234.0
print(cost_price, type(cost_price))

234.0 <class 'float'>

In [21]:
4000-3000

1000

In [22]:
"4000"-"3000"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [23]:
s="123"
b=int(s)
print(b, type(b))

123 <class 'int'>

In [24]:
s="536"
b=int(s)
print(b, type(b))
print(6*10**0+3*10**1+5*10**2)

536 <class 'int'>
536

In [25]:
s="536.72"
b=int(s)
print(b, type(b))
print(6*10**0+3*10**1+5*10**2)

ValueError: invalid literal for int() with base 10: '536.72'

In [26]:
s="536.72"
b=float(s)
print(b, type(b))

536.72 <class 'float'>

In [27]:
int(b)

536

In [28]:
int(12.34)

12

In [29]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [30]:
float("1.21")

1.21

In [31]:
float("34.56.78")

ValueError: could not convert string to float: '34.56.78'

In [32]:
int("23a")

ValueError: invalid literal for int() with base 10: '23a'

In [33]:
float("23a")

ValueError: could not convert string to float: '23a'

In [34]:
a=0b10101
print(a)
b=10101
print(b)

21
10101

In [36]:
a=0x1234
print(a)

4660

In [37]:
b=0o1234
print(b)

668

In [38]:
a=2356
print(bin(a))
print(oct(a))
print(hex(a))

0b100100110100
0o4464
0x934

In [39]:
a=0o10
b=0x10
print(a+b)

24

In [40]:
a=9676622023
print(hex(a))

0x240c588c7

In [41]:
a="240c588c7"
print(a)

240c588c7

In [42]:
a="240c588c7"
print(int(a))

ValueError: invalid literal for int() with base 10: '240c588c7'

In [43]:
a="240c588c7"
print(int(a,16))

9676622023

In [44]:
a="1234"
print(int(a,8))

668

In [45]:
cost_price=input("Enter cost price")
sales_price=input("enter sales price")
cost_price = float(cost_price)
sales_price = float(sales_price)
print(sales_price-cost_price)

Enter cost price1200
enter sales price1500
300.0

In [46]:
total = float(input("Enter number of students:"))
seats = float(input("enter number of seats:"))
print(total/seats)

Enter number of students:250
enter number of seats:50
5.0

In [47]:
total = float(input("Enter number of students:"))
seats = float(input("enter number of seats:"))
print(total/seats)

Enter number of students:260
enter number of seats:50
5.2

In [48]:
# total
# seats
# adjust_factor=2
260/50+2

7.2

In [49]:
# operator precedency
260/(50+2)

5.0

In [50]:
20000/1000/20/4

0.25

In [51]:
total = float(input("Enter number of students:"))
seats = float(input("enter number of seats:"))
adj_factor=float(input("How many people can adjust"))
res = total/(seats+adj_factor)
print(res)

Enter number of students:260
enter number of seats:50
How many people can adjust2
5.0

In [52]:
total = float(input("Enter number of students:"))
seats = float(input("enter number of seats:"))
adj_factor=float(input("How many people can adjust"))
res = total/(seats+adj_factor)
print(res)

Enter number of students:270
enter number of seats:50
How many people can adjust2
5.1923076923076925

In [53]:
import math

In [54]:
math.ceil(5.2)

6

In [55]:
math.cos(60)

-0.9524129804151563

In [56]:
math.cos?

In [57]:
math.cos("60")

TypeError: must be real number, not str

In [60]:
math.cos(60*(math.pi/180))

0.5000000000000001

In [61]:
import math
total = float(input("Enter number of students:"))
seats = float(input("enter number of seats:"))
adj_factor=float(input("How many people can adjust"))
res = total/(seats+adj_factor)
print(math.ceil(res))

Enter number of students:256
enter number of seats:50
How many people can adjust1
6

In [62]:
math.ceil(5.0)

5

In [63]:
math.ceil(5.01)

6

In [64]:
s="a"
ord(s)

97

In [65]:
ord("a")

97

In [66]:
ord("A")

65

In [67]:
chr(65)

'A'

In [68]:
chr(97)

'a'

In [69]:
97-65

32

In [70]:
s=input("enter only one char:")
print(chr(ord(s)-32))

enter only one char:r
R

In [71]:
total = float(input("Enter number of students:"))
seats = float(input("enter number of seats:"))
adj_factor=float(input("How many people can adjust"))
res = total/(seats+adj_factor)
print("The journey details:\n\tTotal number of people: ")

Enter number of students:12
enter number of seats:34
How many people can adjust56
The journey details:
	TotL number of people:

In [72]:
total = float(input("Enter number of students:"))
seats = float(input("enter number of seats:"))
adj_factor=float(input("How many people can adjust"))
res = total/(seats+adj_factor)
print("The journey details:\n\tTotal number of people: total")

Enter number of students:12
enter number of seats:34
How many people can adjust5
The journey details:
	Total number of people: total

In [74]:
total = float(input("Enter number of students:"))
seats = float(input("enter number of seats:"))
adj_factor=float(input("How many people can adjust"))
res = total/(seats+adj_factor)
print("The journey details:\n\tTotal number of people:",total)
print("\tSeats per bus:",seats)
print("\t extra people can adjust per bus:",adj_factor)
print("\tnumber of busses required:",math.ceil(res))

Enter number of students:175
enter number of seats:50
How many people can adjust3
The journey details:
	Total number of people: 175.0
	Seats per bus: 50.0
	 extra people can adjust per bus: 3.0
	number of busses required: 3.30188679245283

In [1]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name)

My kid details are: Name: jayaram

In [2]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,sep="")

My kid details are: Name:jayaram

In [3]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep="")

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13

In [4]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight))

My kid details are: Name: jayaram , Age: 2.34234 , Heigit: 3.46 , Weight: 13

In [5]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13

In [6]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='#')

My kid details are: Name:#jayaram#, Age:#2.34234#, Heigit:#3.46#, Weight:#13

In [7]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='#')
print("My kid details are: Name:name")

My kid details are: Name:#jayaram#, Age:#2.34234#, Heigit:#3.46#, Weight:#13
My kid details are: Name:name

In [8]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='#')
print("My kid details are: Name:{name}")

My kid details are: Name:#jayaram#, Age:#2.34234#, Heigit:#3.46#, Weight:#13
My kid details are: Name:{name}

In [9]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='#')
print(f"My kid details are: Name:{name}")

My kid details are: Name:#jayaram#, Age:#2.34234#, Heigit:#3.46#, Weight:#13
My kid details are: Name:jayaram

In [11]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')
print(f"My kid details are: Name:{name}, Age:{age}, Height:{round(height,2)}, Weight:{int(weight)}")

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13

In [13]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')
print(f"My kid details are: Name:{name}, Age:{age}, Height:{height:.2f}, Weight:{int(weight)}")

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13

In [14]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')
print(f"My kid details are: Name:{name}, Age:{age}, Height:{height:.2f}, Weight:{int(weight)}")
print("My kid details are: Name:%s",name)

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
My kid details are: Name:%s jayaram

In [15]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')
print(f"My kid details are: Name:{name}, Age:{age}, Height:{height:.2f}, Weight:{int(weight)}")
print("My kid details are: Name:%s"%name)

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
My kid details are: Name:jayaram

In [16]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')
print(f"My kid details are: Name:{name}, Age:{age}, Height:{height:.2f}, Weight:{int(weight)}")
print("My kid details are: Name:%s, Age:%s, Height:%s, Weight:%s"%(name,age,height,weight))

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.4567, Weight:13.45678

In [17]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')
print(f"My kid details are: Name:{name}, Age:{age}, Height:{height:.2f}, Weight:{int(weight)}")
print("My kid details are: Name:%s, Age:%s, Height:%f, Weight:%s"%(name,age,height,weight))

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.456700, Weight:13.45678

In [18]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')
print(f"My kid details are: Name:{name}, Age:{age}, Height:{height:.2f}, Weight:{int(weight)}")
print("My kid details are: Name:%s, Age:%s, Height:%.2f, Weight:%s"%(name,age,height,weight))

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13.45678

In [19]:
# write above out by using single print statement
name = "jayaram"
age = 2.34234
height=3.4567
weight = 13.45678
# My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
print("My kid details are: Name:",name,", Age:",age,", Heigit:",round(height,2),", Weight:",int(weight),sep='')
print(f"My kid details are: Name:{name}, Age:{age}, Height:{height:.2f}, Weight:{int(weight)}")
print("My kid details are: Name:%s, Age:%s, Height:%.2f, Weight:%d"%(name,age,height,weight))

My kid details are: Name:jayaram, Age:2.34234, Heigit:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13
My kid details are: Name:jayaram, Age:2.34234, Height:3.46, Weight:13

In [20]:
s="sdfsdfs\nsdfds\tsdfsd\nsdfsd\tsdfsdf\n"
print(s)

sdfsdfs
sdfds	sdfsd
sdfsd	sdfsdf

In [22]:
k="sdfsdfs\\nsdfds\\tsdfsd\\nsdfsd\\tsdfsdf\\n"
print(k)

sdfsdfs\nsdfds\tsdfsd\nsdfsd\tsdfsdf\n

In [23]:
s=r"sdfsdfs\nsdfds\tsdfsd\nsdfsd\tsdfsdf\n"
print(s)

sdfsdfs\nsdfds\tsdfsd\nsdfsd\tsdfsdf\n

In [24]:
k="sdfsdfs\nsdfds\tsdfsd\nsdfsd\tsdfsdf\n"
print(k)

sdfsdfs
sdfds	sdfsd
sdfsd	sdfsdf

In [25]:
k="sdfsdfs\nsdfds\tsdfsd\nsdfsd\tsdfsdf\n"
print("%s"%k)

sdfsdfs
sdfds	sdfsd
sdfsd	sdfsdf

In [26]:
k="sdfsdfs\nsdfds\tsdfsd\nsdfsd\tsdfsdf\n"
print("%r"%k)

'sdfsdfs\nsdfds\tsdfsd\nsdfsd\tsdfsdf\n'

In [27]:
a=True
print(a, type(a))

True <class 'bool'>

In [28]:
bool(0)

False

In [29]:
bool(1)

True

In [30]:
bool(10)

True

In [31]:
bool(-10)

True

In [32]:
bool("python")

True

In [33]:
bool('')

False

In [34]:
bool([1,2,3,4])

True

In [35]:
bool([])

False

In [36]:
bool({1,2,3,4})

True

In [37]:
bool({})

False

In [38]:
bool((1,2,3,4))

True

In [39]:
bool({1:2,3:4})

True

In [40]:
bool(0)

False

In [41]:
bool("0")

True

In [42]:
bool([0])

True

In [43]:
bool(None)

False

In [44]:
a=None
print(a, type(a))

None <class 'NoneType'>

In [45]:
a=10
b=20
print(a & b)

0

In [47]:
a=10
b=20
print(a | b)

30

In [48]:
a=10
b=20
print(a ^ b)

30

In [49]:
a>>2

2

In [50]:
a<<2

40

In [51]:
a=10
b=20
print(a & b)
print(bin(a))
print(bin(b))

0
0b1010
0b10100

In [52]:
a=10
b=20
print(a & b)
print("",bin(a))
print(bin(b))

0
 0b1010
0b10100

In [ ]:
# bitwise operators: &, |, ^, <<, >>